<app-header />
<main>
    <ul id="users">
        <li>
            <app-user [user]="user[0]" (select)="OnSelectUser($event)"/>
        </li>
        <li>
            <app-user [user]="user[1]" (select)="OnSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="user[2]" (select)="OnSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="user[3]" (select)="OnSelectUser($event)" />
        </li>
    </ul>
    <app-tasks [name]="selectedUser? selectedUser.name : ''"></app-tasks>
</main>

